/// Roboto Regular
@font-face{
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

/// Roboto Bold
@font-face{
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

/// Lato Regular
@font-face{
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: normal;
}

/// Lato Hairline
@font-face{
    font-family: 'Lato';
    src: url('/fonts/Lato-Hairline.ttf');
    font-weight: lighter;
}