/////// LandScape ///////
@media screen and (max-width:1366px ) and 
                  (min-height:1024px)
{
   
    
}

/////// Portrait ///////
@media screen and (max-width:1024px ) and 
                  (min-height:1366px)
{
 
}