///// Main Style /////
@import "_vars";
@import "fonts";
@import "_mixins";

/// Tags
body {
  font-family: $main_font;
  font-size: 1rem;
  box-sizing: border-box;
  max-width: $max_width;
}
h2 {
  text-transform: uppercase;
  font-size: $h2_size;
  color: $grey;
  font-weight: bold;
}
h3 {
  font-size: $h3_size;
  font-family: $secondary_font;
  font-weight: 600;
  color: $grey;
  text-transform: uppercase;
  margin: 0.75rem 0;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  transition: $speed;
}
p {
  font-size: $p_size;
  color: $grey;
  font-family: $secondary_font;
  font-weight: bold;
  text-align: center;
}
img {
  height: auto;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

input,
textarea {
  background: $red;
  color: $white;
  font-family: $secondary_font;
  font-weight: bold;
  border: unset;
  width: 100%;
  padding: 1rem 1.25rem;
  resize: none;
  outline-color: $grey;
  &::placeholder {
    color: $white !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $red;
}

/// Classes
.wrapper {
  padding-left: 7.291% !important;
  padding-right: 7.291% !important;
}

.btn {
  border: unset;
  color: $white;
  padding: 1rem 2rem;
  outline: unset;
  cursor: pointer;
  font-weight: 400;
  transition: $speed;
  border: 1px solid transparent;
  &-red {
    background: $red;
    &:hover {
      background: $white;
      color: $red;
      border: 1px solid $red;
    }
  }
  &-white {
    background: $white;
    color: $red;
    text-transform: uppercase;
    border: 1px solid $white;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
  &-grey {
    background: $grey;
    color: $white;
    &:hover {
      background: $red;
    }
  }
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid $grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
    height: 50%;
  }
}

.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.grey__img {
  filter: grayscale(100%);
}
.showMore {
  display: none;
  margin-top: 2rem;
}
header {
  position: relative;
  width: 100%;
  height: 100vh;
}
.navbar {
  position: absolute;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  text-transform: uppercase;
  list-style-type: none;
  border-bottom: 1px solid #ffffff;
}
nav ul li {
  display: inline-block;
  margin: 0 25px;
  padding-bottom: 20px;
}
nav ul li a {
  text-decoration: none;
  color: $grey;
  font-weight: 700;
  font-family: $main_font;
}
nav ul li a:hover {
  color: $red;
}
// header slider @@@@@@@@@@@@@@
.slick-arrow {
  font-size: 30px;
  position: absolute;
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $white;
  border-radius: 50%;
  background: transparent;
  outline: none;
  color: $white;
  cursor: pointer;
}
.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}
#slider-area {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_child {
  height: 100vh;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: $red;
  opacity: 0.6;
  & h2 {
    color: $white;
    font-family: $secondary_font;
    font-weight: lighter;
    font-size: 2.4rem;
    width: 75%;
    text-align: center;
  }
}
///@@@@@@@@@@@@@@
//// Uber ////
.uber {
  margin: 0.5rem 0.75rem;
  border: 4px solid $red;
  padding: 2.25rem 4.5rem;
  & a {
    margin-top: 2rem;
  }
}

//// Machen ////
.machen {
  text-align: center;
  overflow: hidden;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem;
  &__block {
    display: none;
  }
  &__content {
    margin-top: 4rem;
    // Block
    &__block {
      position: relative;
    }
    .col-md-4 {
      padding: unset !important;
    }
    // Info
    &__info {
      position: absolute;
      background: rgba($white, 0.62);
      top: 0;
      z-index: 999;
      border-radius: 50%;
      width: 60%;
      height: 60%;
      left: calc(50% - 30%);
      top: calc(50% - 30%);
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;
      overflow: hidden;
      h4 {
        font-size: $h3_size;
        color: $grey;
        font-weight: 400;
        text-transform: uppercase;
        white-space: pre-wrap;
        width: 50%;
      }
    }
  }
}
// portfolio
.active {
  background-color: $red;
  color: $white;
}
.portfolio_img {
  position: relative;
}
.shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  & span {
    border: 2px solid $white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
      width: 100px;
      height: 100px;
    }
    & p {
      font-family: $secondary_font;
      font-weight: 400;
      font-size: 2.5rem;
      color: $white;
      text-transform: uppercase;
    }
  }
}
.img_conteiner:hover .shadow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  font-size: 50px;
  color: $white;
  cursor: pointer;
}
.modal {
  transition: 1s;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: black;
  &-content {
    transition: 0.9s;
    margin: auto;
    display: block;
    width: 10%; //70
    max-width: 800px;
    height: 80%; //80
  }
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.project_img {
  width: 100%;
  height: 60%;
  min-height: 650px;
}
/// Contact
.contact {
  overflow: hidden;
  padding-bottom: 4rem;
  /// Top
  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /// Main
  &__main {
    border-top: 1px solid $grey;
    padding-top: 2rem;
    flex-wrap: wrap-reverse !important;
  }

  /// Content
  &__content {
    &__list {
      padding: 0 1rem;
      margin: 0;
      &__item {
        display: flex;
        align-items: flex-start;
        .icon {
          margin-right: 0.5rem;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        a:hover {
          color: $red;
        }
        span {
          font-family: $secondary_font;
          font-weight: bold;
          line-height: 1.6;
          font-size: $h3_size;
        }
      }
    }
    /// Sociales
    .sociales {
      padding: 0 1rem;
      &__link:not(:last-child) {
        margin-right: 0.5rem;
      }
      &__link {
        img {
          width: 35px;
          height: 35px;
        }
      }
    }

    /// Form
    &__form {
      text-align: center;
      input,
      textarea {
        margin-bottom: 2rem;
      }
    }
  }
}

/// Footer
.footer {
  background: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  &__list {
    padding: 0;
    margin: 0;
    color: $light_grey;
    flex-wrap: wrap;
    &__item:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
  &__copy {
    color: $white !important;
    font-weight: lighter;
  }
}

.row__list {
  display: flex;
  align-items: center;
}

.underline {
  position: relative;
  text-align: center;
  padding-bottom: 1.25rem;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 4px;
    background: $line_color;
    left: 25%;
  }
}

/** Collapse **/
.navbar-collapse {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.collapse {
  flex-basis: 50%;
}
.collapse-btn {
  font-size: 40px;
  padding: 0 10px;
  position: relative;
  display: none;
  span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
    cursor: pointer;
    &:nth-child(1),
    &:nth-child(3) {
      transition: all 0.3s;
    }
  }
  &:hover {
    span {
      &:nth-child(1) {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.9;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
      }
      &:nth-child(3) {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(-135deg);
        opacity: 0.9;
      }
    }
  }
}

@import "_media";
