///// Main Style /////
@import '_vars';
@import '_mixins';


/** Collapse **/
.navbar-collapse{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.collapse{
    flex-basis: 50%;
}
.collapse-btn{
    position: relative;
    display: none;
    span{

       display: block;
	   background-color: #fff;
	   height: 3px;
	   width: 25px;
	   margin-top: 4px;
	   margin-bottom: 4px;
	   transform: rotate(0deg);
	   left: 0;
       opacity: 1;
       cursor: pointer;
	   &:nth-child(1) , &:nth-child(3){
	   	  transition: all .3s;
       }
    }
    &:hover{
			span 
			{
				&:nth-child(1){
				    position: absolute;
				    left: 0;
				    top: 0;
				    opacity: 0.9;
				    transform:rotate(135deg);
				}
				&:nth-child(2){
				  	height: 12px;
				    visibility: hidden;
				    background-color: transparent;
				}
				&:nth-child(3){
					position: absolute;
				    left: 0;
				    top: 0;
				    transform: rotate(-135deg);
				    opacity: 0.9;

				}
			}
	    
	}

}



@import '_media';
