///// Variables /////

/// Colors 
$red:#981b1d;
$grey:#2a2a2a;
$light_grey:#646464;
$line_color:#707070;
$white:#ffffff;

/// Speed
$speed:.3s;

$max_width:1920px;

/// Font size
$h2_size:4.25rem;
$h3_size:2.5rem;
$p_size:1.8rem;

/// Fonts
$main_font:'Roboto' , sans-serif;
$secondary_font:'Lato' , sans-serif;
